<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.irongteng.persistence.mapper.AnalysisMapper">
    <!-- 
    <cache />
     -->
     <!-- 设备信息表 -->
    <resultMap id="deviceResult" type="Device">
        <id property="id" jdbcType="INTEGER" column="DeviceID" />
        <result property="deviceName" jdbcType="VARCHAR" column="DeviceName" />
        <result property="status" jdbcType="INTEGER" column="Status" />
    </resultMap>
    
    <resultMap id="analysisResult" type="Analysis">
        <result property="id" jdbcType="BIGINT" column="ID"/>
        <result property="periodType" jdbcType="INTEGER" column="PeriodType"/>
        <result property="totalCount" jdbcType="INTEGER" column="TotalCount"/>
        <result property="startTime" jdbcType="TIMESTAMP" column="StartTime"/>
        <result property="endTime" jdbcType="TIMESTAMP" column="EndTime"/>
        <result property="recordTime" jdbcType="TIMESTAMP" column="RecordTime"/>
        <association property="device" javaType="Device" column="DeviceID" resultMap="deviceResult" />
    </resultMap>
    
    <sql id="Base_Column_List">
        a.ID,
        d.id as DeviceID,
        d.DeviceName,
        a.PeriodType,
        a.TotalCount,
        a.StartTime,
        a.EndTime,
        a.RecordTime
    </sql>
    
    <select id="load" parameterType="Long" resultMap="analysisResult">
        SELECT 
            <include refid="Base_Column_List" />
        FROM t_analysis a
            inner join device d on d.ID=a.DeviceID
        WHERE 
            a.ID = #{id} 
    </select>
    
    <!-- 查询所有的ID -->
    <select id="findAllIds" resultType="Long">
        SELECT ID FROM t_analysis
    </select>
    
    <!-- 按Id删除 -->
    <delete id="delete" parameterType="Long">
        DELETE FROM t_analysis WHERE
        ID = #{id} 
    </delete>
     <!-- 插入 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_analysis (
            ID,
            DeviceID,
            PeriodType,
            TotalCount,
            StartTime,
            EndTime,
            RecordTime
        ) VALUES (
            #{id},
            #{device.id},
            #{periodType},
            #{totalCount},
            #{startTime},
            #{endTime},
            #{recordTime}
        )
    </insert>
    
    <select id="countAll" resultType="Long">
        SELECT count(0) FROM t_analysis    
    </select>
    
    <select id="findAll" resultMap="analysisResult">
        SELECT 
            <include refid="Base_Column_List" />
        FROM t_analysis a
            inner join device d on d.ID=a.DeviceID
    </select>
    
    <!-- 更新 -->
    <update id="updateSelective" parameterType="Analysis">
        UPDATE t_analysis 
        <set>
            <if test="device!=null and device.id!=null">
            DeviceID = #{device.id},
            </if>
            <if test="periodType!=null">
            PeriodType = #{periodType},
            </if>
            <if test="totalCount!=null">
            TotalCount = #{totalCount},
            </if>
            <if test="startTime!=null">
            startTime = #{startTime},
            </if>
            <if test="endTime!=null">
            EndTime = #{endTime},
            </if>
            <if test="recordTime!=null">
            RecordTime = #{recordTime},
            </if>
        </set>
        WHERE 
            ID = #{id}
    </update>
    
    <update id="update" parameterType="Analysis">
        UPDATE t_analysis SET
            DeviceID = #{device.id},
            PeriodType = #{periodType},
            TotalCount = #{totalCount},
            startTime = #{startTime},
            EndTime = #{endTime},
            RecordTime = #{recordTime}
        WHERE 
            ID = #{id} 
    </update>
    
    <select id="findPageBreakByCondition" resultMap="analysisResult" parameterType="map">
        SELECT 
            <include refid="Base_Column_List" />
        from t_analysis  a
            inner join device d on d.ID=a.DeviceID

        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="deviceID != null">
                 AND d.ID in (#{deviceID})
            </if>
            <if test="status != null">
                 AND d.status=#{status} 
            </if>
            <if test="type != null">
                 AND PeriodType=#{type} 
            </if>
            <if test="startDate != null">
                 AND StartTime &gt;= #{startDate} 
            </if>
            <if test="endDate != null">
                 AND StartTime &lt;= #{endDate} 
            </if>
            <if test="keywords != null">
                AND d.DeviceName LIKE "%"#{keywords}"%"
              </if>
          </trim>

        <choose>
            <when test="orderField !=null and orderField !=''">
                 ORDER BY ${orderField} <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
            </when>
            <otherwise>
                 order by a.ID DESC
            </otherwise>
        </choose>
           
    </select>
    
    <select id="findNumberByCondition" resultType="Integer" parameterType="map">
        select count(0) as c from t_analysis  a
            inner join device d on d.ID=a.DeviceID

        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="deviceID != null">
                 AND d.ID in (#{deviceID})
            </if>
            <if test="status != null">
                 AND d.status=#{status} 
            </if>
            <if test="type != null">
                 AND PeriodType=#{type} 
            </if>
            <if test="startDate != null">
                 AND StartTime &gt;= #{startDate} 
            </if>
            <if test="endDate != null">
                 AND StartTime &lt;= #{endDate} 
            </if>
            <if test="keywords != null">
                AND d.DeviceName LIKE "%"#{keywords}"%"
              </if>
          </trim>
        
    </select>
    
</mapper>

