<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.irongteng.persistence.mapper.AreaMapper">
    <!-- 
    <cache />
     -->
    
    <resultMap id="areaResult" type="Area">
        <result property="id" jdbcType="INTEGER" column="ID"/>
        <result property="name" jdbcType="VARCHAR" column="Name" />
        <result property="pid" jdbcType="INTEGER" column="PID" />
    </resultMap>
    <sql id="Base_Column_List">
        ID,
        Name,
        PID
    </sql>
    <select id="load" parameterType="Integer" resultMap="areaResult">
        SELECT 
            <include refid="Base_Column_List" />
        FROM t_area 
        WHERE 
            ID = #{id} 
    </select>
    <!-- 查询所有的ID -->
    <select id="findAllIds" resultType="Integer">
        SELECT ID FROM t_area
    </select>

    <!-- 按Id删除 -->
    <delete id="delete" parameterType="Integer">
        DELETE FROM t_area WHERE
        ID = #{id} 
    </delete>
    
    <!-- 插入 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_area (
            Name,
            PID
        ) VALUES (
            #{name},
            #{pid}
        )
    </insert>
    
    <select id="countAll" resultType="Integer">
        SELECT count(0) FROM t_area    
    </select>
    
    <select id="findAll" resultMap="areaResult">
        SELECT 
            <include refid="Base_Column_List" />
        FROM t_area
    </select>
    
    <!-- 更新 -->
    <update id="updateSelective" parameterType="Area">
        UPDATE t_area 
            <set>
                <if test="name!=null">
                Name = #{name},
                </if>
                <if test="pid!=null">
                PID = #{pid},
                </if>
            </set>
        WHERE 
            ID = #{id}
    </update>
    
    <update id="update" parameterType="Area">
        UPDATE t_area 
        SET
            Name = #{name},
            PID = #{pid}
        WHERE 
            ID = #{id} 
    </update>
    
    <select id="findByName" parameterType="java.lang.String" resultMap="areaResult">
        select 
            <include refid="Base_Column_List" />
        from t_area where Name = #{name}
    </select>
    
    <select id="findByPid" parameterType="Integer" resultMap="areaResult">
        select 
            <include refid="Base_Column_List" />
        from t_area where PID = #{pid}
    </select>
    
    <select id="isUniqueName" parameterType="map" resultType="Integer">
        select count(0) as c
        from t_area where ID != #{id} and Name = #{name}
    </select>
    
    <select id="isUniqueNamePid" parameterType="map" resultType="Integer">
        select count(0) as c
        from t_area where ID != #{id} and Name = #{name} and PID=#{pid}
    </select>
    
    <select id="findPageBreakByCondition" resultMap="areaResult" parameterType="map">
        SELECT 
            <include refid="Base_Column_List" />
        from t_area 

        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="keywords != null">
                AND (
                    Name LIKE "%"#{keywords}"%"
                    or PID LIKE "%"#{keywords}"%"
                )
              </if>
          </trim>
        
        <choose>
            <when test="orderField !=null and orderField !=''">
                 ORDER BY ${orderField} <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
            </when>
            <otherwise>
                 order by ID DESC
            </otherwise>
        </choose>
           
    </select>
    
    <select id="findNumberByCondition" resultType="Integer" parameterType="map">
        select count(0) as c from t_area

        <trim prefix="WHERE" prefixOverrides="AND|OR">
            
            <if test="keywords != null">
                AND (
                    Name LIKE "%"#{keywords}"%"
                    or PID LIKE "%"#{keywords}"%"
                )
            </if>
        </trim>

    </select>
    
</mapper>

