<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.irongteng.persistence.mapper.BalancedetailMapper">

  <select id="load" parameterType="Integer" resultMap="balancedetailResult">    
       SELECT 
            <include refid="Base_Column_List" />
        FROM balancedetail 
        WHERE 
            ID = #{id} 
    </select>
    
     <select id="getDetail" parameterType="Integer" resultMap="balancedetailResult"> 
         select ct.name as customerName,cb.name as behaviorName,
       customerID,bt.remark as remark , bt.ID as id, bt.behaviorID, bt.balanceType, bt.recordDate, bt.detail 
      from
      balancedetail bt
      inner join customer ct on bt.customerID=ct.ID
      inner join customerbehavior cb on bt.behaviorID=cb.ID
      
      WHERE 
      bt.ID = #{id} 
    </select>
    
     <select id="findAll" resultMap="balancedetailResult">
        SELECT 
            <include refid="Base_Column_List" />
        FROM balancedetail
    </select>
    
    <select id="countAll" resultType="Integer">
        SELECT count(0) as c FROM balancedetail
    </select>
    
     <!-- 指定页查询总条数 -->
    <select id="findNumberByCondition" resultType="Integer"
        parameterType="map">
        select count(0) as c
      from
      balancedetail bt
      inner join customer ct on bt.customerID=ct.ID
      inner join customerbehavior cb on bt.behaviorID=cb.ID
    <trim prefix="WHERE" prefixOverrides="AND|OR">
              <if test="keywords != null">
            and   ct.name like   CONCAT("%",#{keywords},"%") or cb.name like  CONCAT("%",#{keywords},"%")
            </if>
        </trim>
       <!--  <trim prefix="WHERE" prefixOverrides="AND|OR">
              <if test="customerID != null">
                AND customerID=#{customerID}
            </if>
            <if test="behaviorID != null">
                AND behaviorID=#{behaviorID}
            </if>
            <if test="balanceType != null">
                AND balanceType=#{balanceType}
            </if>
        </trim> -->
    </select>

    <sql id="Map_Column_List">
        ID, customerID, behaviorID
    </sql>
    <sql id="Base_Column_List">
        ID, customerID, behaviorID, balanceType, recordDate, detail,remark
    </sql>
<sql id="INT_UP_Column_List">
        customerID, behaviorID, balanceType, recordDate, detail,remark
    </sql>
    
<insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO balancedetail (
            <include refid="INT_UP_Column_List" />
        ) VALUES (
            #{customerID},                 
            #{behaviorID},        
            #{balanceType}, 
            #{recordDate}, 
            #{detail},   
            #{remark}
        )
    </insert>
        <insert id="addBatch" parameterType="java.util.List">
        insert into balancedetail(
            <include refid="INT_UP_Column_List" />
        )
        values  
        <foreach item="item" index="index" collection="list" separator=",">
            (         
            #{item.customerID},
            #{item.behaviorID},
            #{item.balanceType},
            #{item.recordDate},
            #{item.detail},
            #{item.remark}
            )
        </foreach>  
    </insert>
    
    <update id="addOrUpdate"  parameterType="Balancedetail"> 
        INSERT into balancedetail(<include refid="INT_UP_Column_List" />)  
        values( 
            #{customerID},                 
            #{behaviorID},        
            #{balanceType},
            #{recordDate},
            #{detail},
            #{remark}
        )
        ON DUPLICATE KEY UPDATE customerID=#{customerID}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM balancedetail where ID=#{id}
    </delete>

    
  <update id="update" parameterType="Balancedetail">
        UPDATE balancedetail SET            
            customerID=#{customerID},                 
            behaviorID=#{behaviorID},        
            balanceType=#{balanceType},
            recordDate=#{recordDate},
            detail=#{detail},
            remark=#{remark}
        where 
            ID = #{id}
    </update>

    <update id="updateSelective" parameterType="Balancedetail">
        UPDATE balancedetail 
        <set>
            <if test="customerID!=null">
            customerID=#{customerID},
            </if>
            <if test="behaviorID!=null">
            behaviorID=#{behaviorID},
            </if>
            <if test="balanceType!=null">
            balanceType=#{balanceType},
            </if>
            <if test="recordDate!=null">
            recordDate=#{recordDate},
            </if>
            <if test="detail!=null">
            detail=#{detail},
            </if>
            <if test="remark!=null">
            remark=#{remark}
            </if>
        </set>
        WHERE
            ID = #{id}
    </update>
    
   
      <!-- 按条件批量更新 -->
   <update id="updateBatchSelective" parameterType="java.util.List">
        <foreach item="item" collection="list" index="index" open=""
            close="" separator=";">
            
            update balancedetail
            <set>
               <if test="item.customerID!=null">
            customerID=#{item.customerID},
            </if>
            <if test="item.behaviorID!=null">
            behaviorID=#{item.behaviorID},
            </if>
            <if test="item.balanceType!=null">
            balanceType=#{item.balanceType},
            </if>
            <if test="item.recordDate!=null">
            recordDate=#{item.recordDate},
            </if>
            <if test="item.detail!=null">
            detail=#{item.detail},
            </if>
            <if test="item.remark!=null">
            remark=#{item.remark}
            </if>
            </set>
            <trim prefix="WHERE" prefixOverrides="AND|OR">
                <choose>
                    <when test="item.id!=null">
                        AND ID=#{item.id}
                    </when>
                          
                </choose>
            </trim>
        </foreach>
    </update>
    
    
    <!-- 名字查询 -->
     <select id="inquiry" resultType="String">
        select name from balancedetail
             
    </select> 
    
    <!-- 连表查询 -->
    <select id="findPageBreakByCondition" resultType="com.irongteng.persistence.UserBehavior" parameterType="map">
      select ct.name as customerName,ct.ID as custId,ct.psw, ct.phone,ct.localBalance,ct.thirdBalance,ct.createDate,ct.remark as custRemark,ct.`status`,
      cb.name as behaviorName, cb.ID as cutBehaviorId,cb.Description,cb.Remark as behaviorRemark, customerID,bt.remark as balancedetailRemark , bt.ID as balancedetailId, bt.behaviorID, bt.balanceType, bt.recordDate, bt.detail 
      from
      balancedetail bt
      inner join customer ct on bt.customerID=ct.ID
      inner join customerbehavior cb on bt.behaviorID=cb.ID
    <trim prefix="WHERE" prefixOverrides="AND|OR">
              <if test="keywords != null">
            and ct.name like  CONCAT("%",#{keywords},"%") or cb.name like  CONCAT("%",#{keywords},"%")  or  bt.detail like  CONCAT("%",#{keywords},"%")
            </if>
        </trim>
    
           order by bt.customerID

    </select>
      
 <!--      <select id="searchStatusNum" resultType="Integer"
        parameterType="map">
       select count(0) as c
       from balancedetail bt 
 inner join customer ct on bt.customerID=ct.name
 inner  join customerbehavior  cb on cb.ID=bt.behaviorID
  <trim prefix="WHERE" prefixOverrides="AND|OR">
              <if test="keywords != null">
          and   ct.name like   CONCAT("%",#{keywords},"%") or cb.name like  CONCAT("%",#{keywords},"%")
            </if> 
        </trim>
   
    </select> -->
    
    
    <!-- 批量删除 -->
    <delete id="deleteBatchBycustomerID" parameterType="java.util.List">
        DELETE FROM balancedetail WHERE
        customerID in
        <foreach collection="list" item = "item" open="(" separator="," close=")">
        #{item}  
        </foreach>
    </delete>
    
    <resultMap id="balancedetailResult" type="Balancedetail">
        <id property="id" jdbcType="INTEGER" column="ID" />
         <result property="customerName" jdbcType="VARCHAR" column="customerName"/>
        <result property="customerID" jdbcType="INTEGER" column="customerID"/>
        <result property="behaviorID" jdbcType="INTEGER" column="behaviorID"/>
        <result property="balanceType" jdbcType="VARCHAR" column="balanceType"/>
        <result property="recordDate" jdbcType="TIMESTAMP" column="recordDate"/>
        <result property="detail" jdbcType="VARCHAR" column="detail"/>  
        <result property="remark" jdbcType="VARCHAR" column="remark"/>
    </resultMap>    
</mapper>   