<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.irongteng.persistence.mapper.DeviceRandMapper">
    
    <resultMap id="DeviceRandResult" type="DeviceRand">
       <result property="id" jdbcType="INTEGER" column="ID"/>
       <result property="rand" jdbcType="INTEGER" column="Rand" />
       <result property="normalCh" jdbcType="INTEGER" column="NormalCh" />
       <result property="dCount" jdbcType="INTEGER" column="DCount" />
       <result property="updateTime" jdbcType="TIMESTAMP" column="UpdateTime" />
       <association property="device" javaType="Device" column="DeviceID" resultMap="deviceResult" />
    </resultMap>
    
    <resultMap id="deviceResult" type="Device">
        <result property="id" jdbcType="INTEGER" column="DeviceID"/>
        <result property="customerID" jdbcType="INTEGER" column="CustomerID" />
        <result property="deviceName" jdbcType="VARCHAR" column="DeviceName" />
        <result property="deviceIP" jdbcType="VARCHAR" column="DeviceIP" />
        <result property="deviceType" jdbcType="INTEGER" column="DeviceType" />
        <result property="featureCode" jdbcType="VARCHAR" column="FeatureCode" />
        <result property="address" jdbcType="VARCHAR" column="Address" />
        <result property="areaLocation" jdbcType="VARCHAR" column="AreaLocation" />
        <result property="longitude" jdbcType="VARCHAR" column="Longitude" />
        <result property="latitude" jdbcType="VARCHAR" column="Latitude" />
        <result property="createTime" jdbcType="TIMESTAMP" column="CreateTime" />
        <result property="remark" jdbcType="VARCHAR" column="Remark" />
    </resultMap>
    
    <sql id="Insert_Column_List">
        DeviceID,
        Rand,
        NormalCh,
        DCount,
        UpdateTime
    </sql>
    
    <sql id="Base_Column_List">
        dr.ID,
        dr.DeviceID,
        d.CustomerID,
        d.DeviceName,
        d.DeviceIP,
        d.DeviceType,
        d.FeatureCode,
        d.Address,
        d.AreaLocation,
        d.Longitude,
        d.Latitude,
        dr.Rand,
        dr.NormalCh,
        dr.DCount,
        dr.UpdateTime
    </sql>
    
    <sql id="Base_Table_List">
        t_device_rand dr inner join t_device d on dr.DeviceID=d.ID
    </sql>
    
    <!-- 插入 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="DeviceRand">
        INSERT INTO t_device_rand (
            <include refid="Insert_Column_List" />
        ) VALUES (
            #{device.Id},
            #{rand},
            #{normalCh},
            #{dCount},
            #{updateTime}
        )
    </insert>
    
     <!-- 更新 -->
    <update id="update" parameterType="DeviceRand">
        UPDATE t_device_rand SET
            DeviceID = #{device.Id},
            Rand = #{rand},
            NormalCh = #{normalCh},
            DCount = #{dCount},
            UpdateTime = #{updateTime}
        WHERE 
            ID = #{id} 
    </update>
    
    <sql id="Base_Query_List">
        SELECT 
            <include refid="Base_Column_List" />
        FROM 
            <include refid="Base_Table_List" />
    </sql>
    
    <select id="queryAll" resultMap="DeviceRandResult" parameterType="map">
        <include refid="Base_Query_List" />
    </select>
    
    <select id="queryByDeviceID" resultMap="DeviceRandResult" parameterType="Integer">
        <include refid="Base_Query_List" />
         where dr.DeviceID = #{deviceID}
    </select>
    
    <select id="queryServiceRand" resultMap="DeviceRandResult" parameterType="Integer">
        <include refid="Base_Query_List" />
         where dr.Rand = #{randV} and d.deviceType = 1 order by dr.DCount desc
    </select>
    
    <select id="getRandToDevice" resultMap="DeviceRandResult">
        <!-- SELECT dr.ID, dr.DeviceID, d.CustomerID, d.DeviceName, d.DeviceIP, d.DeviceType, d.FeatureCode, d.Address,
        d.AreaLocation, d.Longitude, d.Latitude, dr.Rand, dr.NormalCh, dr.DCount, dr.UpdateTime, sum(dr.NormalCh)/sum(dr.DCount) as ratio
         from t_device_rand dr inner join t_device d on dr.DeviceID = d.ID where d.deviceType = 1 group by dr.rand order by ratio desc; -->
         SELECT dr.ID, dr.Rand, sum(dr.NormalCh) as NormalCh, sum(dr.DCount) as DCount, dr.UpdateTime, sum(dr.NormalCh)/sum(dr.DCount) as ratio
         from t_device_rand dr inner join t_device d on dr.DeviceID = d.ID where d.deviceType = 1 group by dr.rand order by ratio desc;
    </select>
    
</mapper>