<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.irongteng.persistence.mapper.DeviceMapper">
    
    <resultMap id="DeviceResult" type="Device">
        <result property="id" jdbcType="INTEGER" column="ID"/>
        <result property="deviceName" jdbcType="VARCHAR" column="DeviceName" />
        <result property="deviceIP" jdbcType="VARCHAR" column="DeviceIP" />
        <result property="areaLocation" jdbcType="VARCHAR" column="AreaLocation" />
        <result property="deviceType" jdbcType="INTEGER" column="DeviceType" />
        <result property="featureCode" jdbcType="VARCHAR" column="FeatureCode" />
        <result property="address" jdbcType="VARCHAR" column="Address" />
        <result property="longitude" jdbcType="VARCHAR" column="Longitude" />
        <result property="latitude" jdbcType="VARCHAR" column="Latitude" />
        <result property="createTime" jdbcType="TIMESTAMP" column="CreateTime" />
        <result property="remark" jdbcType="VARCHAR" column="Remark" />
        <association property="customer" javaType="Customer" column="CustomerID" resultMap="customerResult" />
    </resultMap>
    
      <resultMap id="customerResult" type="Customer">
        <id property="id" jdbcType="INTEGER" column="CustomerID" />
        <result property="customerName" jdbcType="VARCHAR" column="CustomerName"/>
        <result property="contact" jdbcType="VARCHAR" column="Contact"/>
        <result property="address" jdbcType="INTEGER" column="Address"/>
        <result property="createTime" jdbcType="TIMESTAMP" column="CreateTime"/>  
        <result property="updateTime" jdbcType="TIMESTAMP" column="UpdateTime"/>
        <result property="remark" jdbcType="VARCHAR" column="Remark"/>
    </resultMap>
    
    <sql id="Insert_Column_List">
          deviceName, customerID,deviceIP,areaLocation,deviceType,featureCode,address,longitude,latitude,createTime,remark
    </sql>
    
    <sql id="Base_Column_List">
         td.id,
         tc.customerName,
         td.deviceName,
         td.customerID,
         td.deviceIP,
         td.areaLocation,
         td.deviceType,
         td.featureCode,
         td.address,
         td.longitude,
         td.latitude,
         td.createTime,
         td.remark,
         tc.contact,
         tc.updateTime 
    </sql>
    
    <sql id="Base_Table_List">
         t_device td 
         inner join t_customer tc on td.customerID=tc.ID 
    </sql>
    
    <sql id="Base_Query_List">
        SELECT 
            <include refid="Base_Column_List" />
        FROM 
            <include refid="Base_Table_List" />
    </sql>
    
    <sql id="Base_Count_List">
        select count(0) as c from 
        <include refid="Base_Table_List" />
    </sql>
    
     <sql id="Base_Order_By">
        order by td.id
    </sql>
    
    <sql id="Base_Page_Condition">
        <choose>
            <when test="orderField !=null and orderField !=''">
                ORDER BY ${orderField} <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
            </when>
            <otherwise>
                <include refid="Base_Order_By" />
            </otherwise>
        </choose>
    </sql>
    
    <select id="load" parameterType="Integer" resultMap="DeviceResult">
        <include refid="Base_Query_List" />
        WHERE td.ID = #{id} 
    </select>
    
    <select id="isUniqueFeatureCode" parameterType="String" resultType="Integer">
        select count(0) as c
        from t_device
        where
        ID != #{id} and FeatureCode = #{featureCode}
    </select>
    
    
    <select id="getByIP" parameterType="String" resultMap="DeviceResult">
        SELECT 
         id,
         deviceName,
         customerID,
         deviceIP,
         areaLocation,
         deviceType,
         featureCode,
         address,
         longitude,
         latitude,
         createTime,
         remark
            <!-- <include refid="Base_Column_List" /> -->
        FROM t_device   
        WHERE 
            DeviceIP = #{deviceIP} 
    </select>
    
    <select id="queryByFeatureCode" parameterType="String" resultMap="DeviceResult">
        SELECT 
         id,
         deviceName,
         customerID,
         deviceIP,
         areaLocation,
         deviceType,
         featureCode,
         address,
         longitude,
         latitude,
         createTime,
         remark
           <!--  <include refid="Base_Column_List" /> -->
        FROM t_device
        WHERE 
            FeatureCode = #{featureCode} 
    </select>
    
    <select id="findAll" resultMap="DeviceResult">
        <include refid="Base_Query_List" />
        <include refid="Base_Order_By" />
    </select>
     
    <select id="countAll" resultType="Integer">
        <include refid="Base_Count_List" />
    </select>
            
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="Device">
        INSERT INTO t_device (
            <include refid="Insert_Column_List" />
        ) VALUES (
            #{deviceName}, 
            #{customer.id},                     
            #{deviceIP},
            #{areaLocation},         
            #{deviceType},
            #{featureCode},
            #{address},
            #{longitude},
            #{latitude},
            #{createTime},
            #{remark}
        )
    </insert>
    
     <update id="update" parameterType="Device">
     UPDATE t_device 
              SET
                DeviceName=#{deviceName},                 
			    CustomerID=#{customer.id},   
			    DeviceIP=#{deviceIP}, 
			    AreaLocation=#{areaLocation},            
			    FeatureCode=#{featureCode},
			    Address=#{address},
			    Longitude=#{longitude},  
			    Latitude=#{latitude},
			    CreateTime=#{createTime},           
			    Remark=#{remark}
		 where 
			    ID = #{id}
    </update>
              
    
       <update id="updateSelective" parameterType="Device">
       UPDATE t_device 
            <set>
            <if test="deviceName!=null">
              DeviceName=#{deviceName},            
            </if>
            <if test="customer.id!=null">
             CustomerID=#{customer.id},     
            </if>
           <if test="featureCode!=null">
             FeatureCode=#{featureCode},
            </if>
            <if test="deviceIP!=null">
             DeviceIP=#{deviceIP},
            </if>
            <if test="areaLocation!=null">
             AreaLocation=#{areaLocation},
            </if>
            <if test="deviceType!=null">
            DeviceType=#{deviceType},
            </if>
            <if test="address!=null">
            Address=#{address},    
            </if>
            <if test="longitude!=null">
            Longitude=#{longitude},  
            </if>
            <if test="latitude!=null">
            Latitude=#{latitude},
            </if>
            <if test="createTime!=null">
            CreateTime=#{createTime},    
            </if>
            <if test="remark!=null">
            Remark=#{remark}
            </if>
        </set>
        WHERE
            ID = #{id}
    </update>
     
        <!-- 批量更新 -->
    <update id="updateBatchSelective" parameterType="java.util.List">
        <foreach item="item" collection="list" index="index" open="" close="" separator=";">
                    UPDATE t_device 
                    SET                  
                    DeviceName=#{item.deviceName},
                    CustomerID=#{item.customer.id},
                    FeatureCode=#{item.featureCode},
                    DeviceIP=#{item.deviceIP},
                    AreaLocation=#{item.areaLocation},
                    DeviceType=#{item.deviceType},
                    Address=#{item.address},
                    CreateTime=#{item.createTime},
                    Latitude=#{item.latitude},
                    Longitude=#{item.longitude},
                    Remark=#{item.remark}
              WHERE 
                ID = #{id}
       </foreach>
    </update>
    
    
           <!-- 批量更新 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach item="item" collection="list" index="index" open="" close="" separator=";">
                    UPDATE t_device 
                    SET                  
                    DeviceName=#{item.deviceName},
                    CustomerID=#{item.customer.id},
                    FeatureCode=#{item.featureCode},
                    DeviceIP=#{item.deviceIP},
                    AreaLocation=#{item.areaLocation},
                    DeviceType=#{item.deviceType},
                    Address=#{item.address},
                    CreateTime=#{item.createTime},
                    Latitude=#{item.latitude},
                    Longitude=#{item.longitude},
                    Remark=#{item.remark}
              WHERE 
                ID = #{id}
       </foreach>
    </update>
    
    
    <select id="findByCondition" resultMap="DeviceResult" parameterType="map">
        <include refid="Base_Query_List" />
        <include refid="Base_Where_Condition" />
        <include refid="Base_Page_Condition" />
    </select>
    
    <select id="findPageBreakByCondition" resultMap="DeviceResult" parameterType="map">
        <include refid="Base_Query_List" />
        <include refid="Base_Where_Condition" />
        <include refid="Base_Page_Condition" />
    </select>
    
    <select id="findNumberByCondition" resultType="Integer" parameterType="map">
        <include refid="Base_Count_List" />
        <include refid="Base_Where_Condition" />
    </select>
    
    <!-- 参数带回 -->
     <select id="parameter"  resultMap="DeviceResult">
        select 
	         id,
	         deviceName,
	         customerID,
	         deviceIP,
	         areaLocation,
	         deviceType,
	         featureCode,
	         address,
	         longitude,
	         latitude,
	         createTime,
	         remark
        <!-- <include refid="Base_Column_List" />  -->
        from t_device 
        <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="keywords != null">
           customerName like CONCAT("%",#{keywords},"%")
            </if>
        </trim>   
    </select> 
    
    <!--  <select id="queryByLikeName" parameterType="com.irongteng.persistence.beans.Customer" resultMap="customerResult">
        select 
            <include refid="Base_Column_List" />
        from customer
        where  1=1
            <if test="phone!=null">
            AND phone=#{phone}
            </if>
            <if test="id!=null">
            AND id=#{id}
            </if>
            <if test="name!=null">
            AND name LIKE CONCAT("%", #{name}, "%")
            </if>
    </select>--> 
    
    <select id="queryByName" parameterType="String" resultMap="DeviceResult">
          select td.id,tc.customerName,td.deviceName,td.customerID,td.deviceIP,td.areaLocation,td.deviceType,
       td.featureCode,td.address,td.longitude,td.latitude,td.createTime,td.remark 
       from t_device td inner join t_customer tc on td.customerID=tc.ID
      <where> 
        <if test="deviceName!=null">
          td.DeviceName = #{deviceName}
        </if>
      </where> 
    </select>

        <insert id="addBatch" parameterType="java.util.List">
        insert into t_device(
            <include refid="Insert_Column_List" />
        )
        values  
        <foreach item="item" index="index" collection="list" separator=",">
            (         
            #{item.deviceName},
            #{item.customerID},
            #{item.deviceIP}, 
            #{item.areaLocation},  
            #{item.deviceType},
            #{item.featureCode},
            #{item.address},
            #{item.longitude},
            #{item.latitude},
            #{item.createTime},
            #{item.remark}
            )
        </foreach>  
    </insert> 
    
    <delete id="delete" parameterType="Integer">
        DELETE FROM t_device where ID=#{id}
    </delete>
    
     <sql id="Base_Where_Condition">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="deviceName != null">
                AND td.DeviceName=#{deviceName}    
            </if>
            <if test="customerID != null">
                AND td.CustomerID=#{customerID}     
            </if>
              <if test="deviceIP != null">
                AND td.DeviceIP = #{deviceIP}
            </if>
             <if test="areaLocation != null">
                AND td.AreaLocation = #{areaLocation}
            </if>
             <if test="deviceType != null">
                AND td.DeviceType = #{deviceType}
            </if>
            <if test="featureCode != null">
                AND td.FeatureCode = #{featureCode}
            </if>
            <if test="address != null">
                AND td.Address = #{address}
            </if>
            <if test="longitude != null">
                AND td.Longitude = #{longitude}
            </if>
            <if test="latitude != null">
                AND td.Latitude = #{latitude}
            </if>
            <if test="createTime != null">
                AND td.CreateTime=#{createTime}    
            </if>
            <if test="remark != null">
                AND td.Remark=#{remark}   
            </if>
            <if test="contact != null">
                AND tc.Contact=#{contact}   
            </if>
             <if test="customerName != null">
                AND tc.CustomerName=#{customerName}   
            </if>
            <if test="updateTime != null">
                AND tc.UpdateTime=#{updateTime}   
            </if>
            <if test="keywords != null">
                AND (
                td.deviceName  LIKE "%"#{keywords}"%"
                or td.address LIKE "%"#{keywords}"%"
                or tc.customerName LIKE "%"#{keywords}"%"
                )
            </if>
        </trim>
    </sql>
    
     <update id="addOrUpdate"  parameterType="Device"> 
        INSERT into t_device(<include refid="Insert_Column_List" />)  
        values(     
            #{deviceName},  
            #{customerID},
            #{deviceIP},  
            #{areaLocation},             
            #{deviceType},
            #{featureCode},
            #{address}, 
            #{createTime},   
            #{latitude},   
            #{longitude},         
            #{remark}
        )
        ON DUPLICATE KEY UPDATE ID=#{id}
    </update>
    
       <select id="isUniqueName" parameterType="map" resultType="Integer">
        select count(0) as c
        from t_device where ID != #{id} and DeviceName = #{deviceName}
    </select>
    
    <select id="findByName" parameterType="java.lang.String" resultMap="DeviceResult">
       select td.id,tc.customerName,td.deviceName,td.customerID,td.deviceIP,td.areaLocation,td.deviceType,
       td.featureCode,td.address,td.longitude,td.latitude,td.createTime,td.remark 
       from t_device td inner join t_customer tc on td.customerID=tc.ID 
     <where> 
         <if test="customerName!=null">
          tc.CustomerName = #{customerName}
         </if>
      </where> 
    </select>
   
        <!-- 批量删除 -->
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM t_device WHERE
		ID in
		<foreach collection="list" item="item" open="(" separator=","
			close=")">
			#{item}
		</foreach>
	</delete>
    </mapper>