<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.irongteng.persistence.mapper.ExceptionsAnalysisMapper">

    <cache />
    
    <resultMap id="exceptionsAnalysisResult" type="ExceptionsAnalysis">
        <id property="id" jdbcType="INTEGER" column="DeviceID" />
        <result property="deviceName" jdbcType="VARCHAR" column="DeviceName" />
        <result property="intradayTotal" jdbcType="INTEGER" column="IntradayTotal" />
        <result property="yestodayTotal" jdbcType="INTEGER" column="YestodayTotal" />
        <result property="total" jdbcType="INTEGER" column="Total" />
    </resultMap>
    
    <sql id="Base_Column_List">
        DeviceID, DeviceName, sum(IntradayTotal) as IntradayTotal, sum(YestodayTotal) as YestodayTotal, sum(Total) as Total
    </sql>
      
    <sql id="Total_Column_List">
        d.id as DeviceID, d.DeviceName, 0 as IntradayTotal, 0 as YestodayTotal, count(0) as Total
    </sql>
    <sql id="Intraday_Column_List">
        d.id as DeviceID, d.DeviceName, count(0) as IntradayTotal, 0 as YestodayTotal, 0 as Total
    </sql>
    <sql id="Yestoday_Column_List">
        d.id as DeviceID, d.DeviceName, 0 as IntradayTotal, count(0) as YestodayTotal, 0 as Total
    </sql>
    
    <sql id="Hpl_Total_Column_List">
        d.id as DeviceID, d.DeviceName, 0 as IntradayTotal, 0 as YestodayTotal, count(h.id) as Total
    </sql>
    <sql id="Visit_Total_Column_List">
        d.id as DeviceID,d.DeviceName, 0 as IntradayTotal, 0 as YestodayTotal, count(v.id) as Total
    </sql>

    <sql id="Hpl_Intraday_Column_List">
        d.id as DeviceID, d.DeviceName, count(h.id) as IntradayTotal, 0 as YestodayTotal, 0 as Total
    </sql>
    <sql id="Visit_Intraday_Column_List">
        d.id as DeviceID, d.DeviceName, count(v.id) as IntradayTotal, 0 as YestodayTotal, 0 as Total
    </sql>
    
    <sql id="Hpl_Yestoday_Column_List">
        d.id as DeviceID, d.DeviceName, 0 as IntradayTotal, count(h.id) as YestodayTotal, 0 as Total
    </sql>
    <sql id="Visit_Yestoday_Column_List">
        d.id as DeviceID, d.DeviceName, 0 as IntradayTotal, count(v.id) as YestodayTotal, 0 as Total
    </sql>
    
    <!-- 异动分析字段 -->
    
    <select id="findPageBreakByCondition" parameterType="map" resultMap="exceptionsAnalysisResult">
        select 
            <include refid="Base_Column_List" />
        from (
            select 
                <include refid="Hpl_Total_Column_List" />
            from device d
                inner join hpl_log h on d.ID=h.DeviceID
            where d.status=1
            <if test="status != null">
                AND d.id = #{status} 
            </if>
            <if test="keywords != null">
                AND (
                    d.DeviceName LIKE "%"#{keywords}"%"
                    or d.DeviceNumber LIKE "%"#{keywords}"%"
                    or d.AttachNumber LIKE "%"#{keywords}"%"
                    or d.IpAddress LIKE "%"#{keywords}"%"
                )
            </if>
            group by d.ID
            
            <if test="type == null or (type!=null and type == 1)">
                union all
                select 
                    <include refid="Visit_Total_Column_List" />
                from device d
                    inner join visit_log v on d.ID=v.DeviceID
                where d.status=1
                <if test="status != null">
                    AND d.id = #{status} 
                </if>
                <if test="keywords != null">
                    AND (
                        d.DeviceName LIKE "%"#{keywords}"%"
                        or d.DeviceNumber LIKE "%"#{keywords}"%"
                        or d.AttachNumber LIKE "%"#{keywords}"%"
                        or d.IpAddress LIKE "%"#{keywords}"%"
                    )
                  </if>
                group by d.id
            </if>
            
            union all
            select 
                <include refid="Hpl_Intraday_Column_List" />
            from device d
                inner join hpl_log h on d.ID=h.DeviceID 
                <if test="startDate != null">
                    AND h.RecordTime &gt;= #{startDate} 
                </if>
                <if test="endDate != null">
                    AND h.RecordTime &lt;= #{endDate} 
                </if>
            where d.status=1 
            <if test="status != null">
                AND d.id = #{status} 
            </if>
            <if test="keywords != null">
                AND (
                    d.DeviceName LIKE "%"#{keywords}"%"
                    or d.DeviceNumber LIKE "%"#{keywords}"%"
                    or d.AttachNumber LIKE "%"#{keywords}"%"
                    or d.IpAddress LIKE "%"#{keywords}"%"
                )
            </if>
            group by d.ID
            
            <if test="type == null or (type!=null and type == 1)">
                union all
                select 
                    <include refid="Visit_Intraday_Column_List" />
                from device d
                    inner join visit_log v on d.ID=v.DeviceID  
                <if test="startDate != null">
                    AND v.StartTime &gt;= #{startDate} 
                </if>
                <if test="endDate != null">
                    AND v.StartTime &lt;= #{endDate} 
                </if>
                where d.status=1
                <if test="status != null">
                    AND d.id = #{status} 
                </if>
                <if test="keywords != null">
                    AND (
                        d.DeviceName LIKE "%"#{keywords}"%"
                        or d.DeviceNumber LIKE "%"#{keywords}"%"
                        or d.AttachNumber LIKE "%"#{keywords}"%"
                        or d.IpAddress LIKE "%"#{keywords}"%"
                    )
                </if>
                group by d.id
            </if>
            
            union all
            select 
                <include refid="Hpl_Yestoday_Column_List" />
            from device d
                inner join hpl_log h on d.ID=h.DeviceID 
                <if test="startDate != null">
                    AND h.RecordTime &gt;= date_sub(#{startDate},interval-1 day) 
                </if>
                <if test="endDate != null">
                    AND h.RecordTime &lt;= date_sub(#{endDate},interval-1 day) 
                </if>
            where d.status=1 
            <if test="status != null">
                AND d.id = #{status} 
            </if>
            <if test="keywords != null">
                AND (
                    d.DeviceName LIKE "%"#{keywords}"%"
                    or d.DeviceNumber LIKE "%"#{keywords}"%"
                    or d.AttachNumber LIKE "%"#{keywords}"%"
                    or d.IpAddress LIKE "%"#{keywords}"%"
                )
            </if>
            group by d.ID
            
            <if test="type == null or (type!=null and type == 1)">
                union all
                select 
                    <include refid="Visit_Yestoday_Column_List" />
                from device d
                    inner join visit_log v on d.ID=v.DeviceID  
                <if test="startDate != null">
                    AND v.StartTime &gt;= date_sub(#{startDate},interval-1 day) 
                </if>
                <if test="endDate != null">
                    AND v.StartTime &lt;= date_sub(#{endDate},interval-1 day) 
                </if>
                where d.status=1
                <if test="status != null">
                    AND d.id = #{status} 
                </if>
                <if test="keywords != null">
                    AND (
                        d.DeviceName LIKE "%"#{keywords}"%"
                        or d.DeviceNumber LIKE "%"#{keywords}"%"
                        or d.AttachNumber LIKE "%"#{keywords}"%"
                        or d.IpAddress LIKE "%"#{keywords}"%"
                    )
                </if>
                group by d.id
            </if>
        ) c
        group by c.DeviceID
        <choose>
            <when test="orderField !=null and orderField !=''">
                ORDER BY ${orderField} <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
            </when>
            <otherwise>
                order by IntradayTotal desc
            </otherwise>
        </choose>
        
    </select>
    
    <select id="findNumberByCondition" resultType="Integer" parameterType="map">
        select count(c.col) as num from (
            select count(distinct d.id)as col from device d
                inner join hpl_log h on d.ID=h.DeviceID
            where d.status=1
            <if test="status != null">
                AND d.id = #{status} 
            </if>
            <if test="keywords != null">
                AND (
                    d.DeviceName LIKE "%"#{keywords}"%"
                    or d.DeviceNumber LIKE "%"#{keywords}"%"
                    or d.AttachNumber LIKE "%"#{keywords}"%"
                    or d.IpAddress LIKE "%"#{keywords}"%"
                )
             </if>
            group by d.id
            
            <if test="type == null or (type!=null and type == 1)">
                union all
                select count(distinct d.id) as col from device d
                    inner join visit_log v on d.ID=v.DeviceID
                where d.status=1
                <if test="status != null">
                    AND d.id = #{status} 
                </if>
                <if test="keywords != null">
                    AND (
                        d.DeviceName LIKE "%"#{keywords}"%"
                        or d.DeviceNumber LIKE "%"#{keywords}"%"
                        or d.AttachNumber LIKE "%"#{keywords}"%"
                        or d.IpAddress LIKE "%"#{keywords}"%"
                    )
                </if>
                group by d.id
            </if>
        ) c
    
    </select>
    
</mapper>