<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.irongteng.persistence.mapper.InverseQueryMapper">
    
    <!-- 轨迹反查 -->
    <resultMap id="inverseQueryResult" type="InverseQuery">
        <id property="id" jdbcType="BIGINT" column="ID" />
        <result property="type" jdbcType="INTEGER" column="Type" />
        <result property="content" jdbcType="VARCHAR" column="Content" />
        <result property="assoContent" jdbcType="VARCHAR" column="AssoContent" />
        <result property="monitorID" jdbcType="INTEGER" column="MonitorID"/>
        <result property="monitorName" jdbcType="VARCHAR" column="MonitorName" />
    </resultMap>
    
    <!-- 轨迹反查分页 -->
    <select id="findPageBreakByCondition" parameterType="map" resultMap="inverseQueryResult">
        
        <if test="type !=null and (type == 1 or type == 2 or type == 3)">
            select c.ID, c.Content, c.AssoContent, m.ID as MonitorID, m.Name as MonitorName
            from (
            select b.ID, b.Content, b.AssoContent from
            <choose>
                <when test="type == 1">
                    <foreach item="item" index="index" collection="deviceVoList" separator="inner join">
                        (select max(v.ID) as ID, v.User_MAC as Content, NULL as AssoContent 
                        from visit_log v 
                            inner join device d on d.ID=v.DeviceID 
                            inner join t_site s on s.ID = d.siteID 
                        where s.ID = #{item.siteID} 
                            and v.StartTime &gt;= #{item.startDate} 
                            and v.StartTime &lt;= #{item.endDate}
                        group by User_MAC
                        )
                        <choose>
                            <when test="index == 0">b</when>
                            <otherwise>${item.keywords} on b.Content = ${item.keywords}.Content</otherwise>
                        </choose>
                    </foreach>
                </when>
                <when test="type == 2">
                    <foreach item="item" index="index" collection="deviceVoList" separator="inner join">
                        (select max(v.ID) as ID, v.User_IMSI as Content, v.User_IMEI as AssoContent 
                        from hpl_log v 
                            inner join device d on d.ID=v.DeviceID 
                            inner join t_site s on s.ID = d.siteID 
                        where s.ID = #{item.siteID} 
                            and v.RecordTime &gt;= #{item.startDate} 
                            and v.RecordTime &lt;= #{item.endDate}
                        group by v.User_IMSI
                        )
                        <choose>
                            <when test="index == 0">b</when>
                            <otherwise>${item.keywords} on b.Content = ${item.keywords}.Content</otherwise>
                        </choose>
                    </foreach>
                </when>
                <when test="type == 3">
                    <foreach item="item" index="index" collection="deviceVoList" separator="inner join">
                        (
                        select max(v.ID) as ID, v.User_IMEI as Content, v.User_IMSI as AssoContent 
                        from hpl_log v 
                            inner join device d on d.ID=v.DeviceID 
                            inner join t_site s on s.ID = d.siteID
                        where s.ID = #{item.siteID} 
                            and v.RecordTime &gt;= #{item.startDate} 
                            and v.RecordTime &lt;= #{item.endDate}
                        group by v.User_IMEI
                        )
                        <choose>
                            <when test="index == 0">b</when>
                            <otherwise>${item.keywords} on b.Content = ${item.keywords}.Content</otherwise>
                        </choose>
                    </foreach>
                </when>
            </choose>
            ) c
            <choose>
                <when test="type == 1">
                    left join monitor m on m.MAC = c.Content 
                </when>
                <when test="type == 2">
                    left join monitor m on m.IMSI = c.Content 
                </when>
                <when test="type == 3">
                    left join monitor m on m.IMEI = c.Content 
                </when>
            </choose>
            <choose>
                <when test="orderField !=null and orderField !=''">
                    ORDER BY ${orderField} <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
                </when>
                <otherwise>
                    order by c.Content
                </otherwise>
            </choose>
        </if>
    </select>
    
    <select id="findNumberByCondition" resultType="Integer" parameterType="map">
        
        <if test="type !=null and (type == 1 or type == 2 or type == 3)">
            select count(distinct b.Content) as n from
            <choose>
                <when test="type !=null and type == 1">
                    <foreach item="item" index="index" collection="deviceVoList" separator="inner join">
                        (select v.User_MAC as Content 
                        from visit_log v 
                            inner join device d on d.ID=v.DeviceID 
                            inner join t_site s on s.ID = d.siteID
                        where s.ID = #{item.siteID} 
                            and v.StartTime &gt;= #{item.startDate} 
                            and v.StartTime &lt;= #{item.endDate}
                        )
                        <choose>
                            <when test="index == 0">b</when>
                            <otherwise>${item.keywords} on b.Content = ${item.keywords}.Content</otherwise>
                        </choose>
                    </foreach>
                </when>
                <when test="type !=null and type == 2">
                    <foreach item="item" index="index" collection="deviceVoList" separator="inner join">
                        (select v.User_IMSI as Content 
                        from hpl_log v 
                            inner join device d on d.ID=v.DeviceID 
                            inner join t_site s on s.ID = d.siteID
                        where s.ID = #{item.siteID} 
                            and v.RecordTime &gt;= #{item.startDate} 
                            and v.RecordTime &lt;= #{item.endDate}
                        )
                        <choose>
                            <when test="index == 0">b</when>
                            <otherwise>${item.keywords} on b.Content = ${item.keywords}.Content</otherwise>
                        </choose>
                    </foreach>
                </when>
                <when test="type !=null and type == 3">
                    <foreach item="item" index="index" collection="deviceVoList" separator="inner join">
                        (select v.User_IMEI as Content 
                        from hpl_log v 
                            inner join device d on d.ID=v.DeviceID 
                            inner join t_site s on s.ID = d.siteID
                        where s.ID = #{item.siteID} 
                            and v.RecordTime &gt;= #{item.startDate} 
                            and v.RecordTime &lt;= #{item.endDate}
                        )
                        <choose>
                            <when test="index == 0">b</when>
                            <otherwise>${item.keywords} on b.Content = ${item.keywords}.Content</otherwise>
                        </choose>
                    </foreach>
                </when>
            </choose>
        </if>
    </select>
    
</mapper>