<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.irongteng.persistence.mapper.LogTypeMapper">

<resultMap id="LogTypeResult" type="LogType">
        <result property="id" jdbcType="INTEGER" column="ID"/>
        <result property="name" jdbcType="VARCHAR" column="Name"/>
        <result property="status" jdbcType="VARCHAR" column="Status"/>
        <result property="createTime" jdbcType="TIMESTAMP" column="CreateTime"/>
         <result property="remark" jdbcType="VARCHAR" column="Remark"/>
    </resultMap>
    
    
      <select id="load" parameterType="Integer" resultMap="LogTypeResult">    
       SELECT 
            <include refid="Base_Column_List" />
        FROM t_log_type
        WHERE 
            ID =# {id} 
    </select>
    
    
    <select id="findAll" resultMap="LogTypeResult">
        SELECT 
            <include refid="Base_Column_List" />
        FROM t_log_type
    </select>
    
    <select id="countAll" resultType="Integer">
        SELECT count(0) as c FROM t_log_type
    </select>
    
    
     <sql id="Map_Column_List">
        ID
    </sql>
    <sql id="Base_Column_List">
        ID, name, status, createTime,remark
    </sql>
    <sql id="INT_UP_Column_List">
       name, status, createTime,remark
    </sql>
    
     <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_log_type (
            <include refid="INT_UP_Column_List" />
        ) VALUES (
            #{name},                 
            #{status},        
            #{createTime}, 
            #{remark}
        )
    </insert>
    
    
     <delete id="delete" parameterType="Integer">
        DELETE FROM t_log_type where ID=#{id}
    </delete>
    
    <update id="update" parameterType="LogType">
        UPDATE t_log_type SET            
            Name=#{name},                 
            Status=#{status},        
            CreateTime=#{createTime},
            Remark=#{remark}
        where 
            ID = #{id}
    </update>
    
    <select id="findNumberByCondition" resultType="Integer"
        parameterType="map">
        select count(0) as c
        from t_log_types
        <trim prefix="WHERE" prefixOverrides="AND|OR">
             <if test="id != null">
                AND ID=#{id}
            </if>
            <if test="keywords != null">
                    AND name LIKE "%"#{keywords}"%" or status  LIKE "%"#{keywords}"%"
            </if>
        </trim>
    </select>  
    
    
    <!-- 查询 -->
    <select id="findPageBreakByCondition" resultMap="LogTypeResult"
        parameterType="map">
        SELECT
        <include refid="Base_Column_List" />
        from t_log_type
        <trim prefix="WHERE" prefixOverrides="AND|OR">
         <if test="keywords != null">
               AND name LIKE "%"#{keywords}"%" or status  LIKE "%"#{keywords}"%"
            </if>   
          </trim>
            <choose>
            <when test="orderField !=null and orderField !=''">
                    ORDER BY ${orderField}
                <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
            </when>
            <otherwise>
                  order by name
            </otherwise>
        </choose>
               
    </select>
    </mapper>