<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.irongteng.persistence.mapper.MonitorDetailMapper">

    <cache />
    
    <resultMap id="monitorDetailResult" type="MonitorDetail">
        <id property="id" jdbcType="INTEGER" column="ID" />
        <result property="type" jdbcType="INTEGER" column="Type" />
        <result property="content" jdbcType="VARCHAR" column="Content" />
        <association property="monitor" javaType="Monitor" column="MonitorID" resultMap="monitorlResult" />
    </resultMap>
    <resultMap id="monitorlResult" type="Monitor">
        <result property="id" jdbcType="INTEGER" column="ID"/>
        <result property="name" jdbcType="VARCHAR" column="Name" />
        <result property="remark" jdbcType="VARCHAR" column="Remark" />
    </resultMap>
    
    <sql id="Base_Column_List">
        md.ID,
        md.MoitorID
        m.Name as MonitorName,
        md.Type,
        md.Content
    </sql>
    <sql id="INT_UP_Column_List">
        MoitorID,
        Type,
        Content
    </sql>
    <select id="load" parameterType="Integer" resultMap="monitorDetailResult">
        SELECT 
            <include refid="Base_Column_List" />
        FROM t_monitor_detail md
            inner join monitor m on md.MonitorID=m.ID
        WHERE 
            md.ID = #{id} 
    </select>
    <!-- 查询所有的ID -->
    <select id="findAllIds" resultType="Integer">
        SELECT ID FROM t_monitor_detail
    </select>

    <!-- 按Id删除 -->
    <delete id="delete" parameterType="Integer">
        DELETE FROM t_monitor_detail WHERE
        ID = #{id} 
    </delete>
     <!-- 插入 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_monitor_detail (
            MonitorID,
            Type,
            Content
        ) VALUES (
            #{monitor.id},
            #{type},
            #{content}
        )
    </insert>
    
    <!-- 批量插入 -->
    <insert id="addBatch" parameterType="java.util.List">
        insert into t_monitor_detail(
            <include refid="INT_UP_Column_List" />
        )
        values  
        <foreach item="item" index="index" collection="list" separator=",">
        (
            #{item.monitor.id},
            #{item.type},
            #{item.content}
        )
        </foreach>  
    </insert>
    
    <select id="countAll" resultType="Integer">
        SELECT count(0) FROM t_monitor_detail    
    </select>
    
    <select id="findAll" resultMap="monitorDetailResult">
        SELECT 
            <include refid="Base_Column_List" />
        FROM t_monitor_detail md
            inner join monitor m on md.MonitorID=m.ID
    </select>
    
    <!-- 更新 -->
    <update id="updateSelective" parameterType="MonitorDetail">
        UPDATE t_monitor_detail 
        <set>
            <if test="monitor!=null and monitor.id!=null">
            MonitorID = #{monitor.id},
            </if>
            <if test="type!=null">
            Type = #{type},
            </if>
            <if test="content!=null">
            Content = #{content},
            </if>
        </set>
        WHERE 
            ID = #{id}
    </update>
    
    <!-- 按条件批量更新 -->
    <update id="updateBatchSelective" parameterType="java.util.List">
        <foreach item="item" collection="list" index="index" open="" close="" separator=";">
            update t_monitor_detail
            <set>
               <if test="item.monitor!=null and item.monitor.id!=null">
                MonitorID = #{item.monitor.id},
                </if>
                <if test="item.type!=null">
                Type = #{item.type},
                </if>
                <if test="item.content!=null">
                Content = #{item.content},
                </if>
            </set>
            <trim prefix="WHERE" prefixOverrides="AND|OR">
                <choose>
                    <when test="item.id!=null">
                        AND ID=#{item.id}
                    </when>
                    <otherwise>
                        <choose>
                            <when test="item.content!=null">
                                AND Content=#{item.content}
                            </when>
                            <otherwise>
                                AND ID = 0
                            </otherwise>
                        </choose>
                    </otherwise>
                </choose>
            </trim>
        </foreach>
    </update>
    
    <update id="update" parameterType="MonitorDetail">
        UPDATE t_monitor_detail 
        SET
            MonitorID = #{monitor.id},
            Type = #{type},
            Content = #{content}
        WHERE 
            ID = #{id} 
    </update>
    
    <select id="getByContent" parameterType="java.lang.String"
        resultMap="monitorlResult">
        select 
            <include refid="Base_Column_List" />
        from t_monitor_detail md
            inner join monitor m on md.MonitorID=m.ID
        where 
            md.Content = #{content}
    </select>
    
    <select id="findByMonitorID" parameterType="java.lang.Integer" resultMap="monitorlResult">
        select 
            <include refid="Base_Column_List" />
        from t_monitor_detail  md
            inner join monitor m on md.MonitorID=m.ID
        where 
            md.MonitorID = #{monitorID}
    </select>
    
    <!-- 判断监控对象内容是否唯一 -->
    <select id="isUniqueContent" parameterType="map" resultType="Integer">
        select count(0) as c from t_monitor_detail where ID != #{id} and Content = #{content}
    </select>
    
    <select id="findPageBreakByCondition" resultMap="monitorDetailResult" parameterType="map">
        SELECT 
            <include refid="Base_Column_List" />
        from t_monitor_detail md
            inner join monitor m on md.MonitorID=m.ID
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="monitorID != null">
                AND m.ID in (#{monitorID})
            </if>
            <if test="keywords != null">
               AND (m.Name LIKE "%"#{keywords}"%"
                    or md.Content LIKE "%"#{keywords}"%"
                )
              </if>
          </trim>
        
        <choose>
            <when test="orderField !=null and orderField !=''">
                 ORDER BY ${orderField} <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
            </when>
            <otherwise>
                 order by m.Name,md.Type DESC
            </otherwise>
        </choose>
           
    </select>
    <select id="findNumberByCondition" resultType="Integer" parameterType="map">
        select count(0) as c 
        from t_monitor_detail md
            inner join monitor m on md.MonitorID=m.ID
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="monitorID != null">
                AND m.ID in (#{monitorID})
            </if>
            <if test="keywords != null">
                AND (m.Name LIKE "%"#{keywords}"%"
                    or md.Content LIKE "%"#{keywords}"%"
                )
              </if>
          </trim>

    </select>
</mapper>

