<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.irongteng.persistence.mapper.ParameterMapper">
    
    <cache />
    
    <resultMap id="parameterResult" type="Parameter">
        <result property="id" jdbcType="INTEGER" column="ID"/>
        <result property="identifier" jdbcType="VARCHAR" column="Identifier" />
        <result property="paramName" jdbcType="VARCHAR" column="ParamName" />
        <result property="paramCategory" jdbcType="INTEGER" column="ParamCategory"/>
        <result property="paramAttribute" jdbcType="INTEGER" column="ParamAttribute"/>
        <result property="unit" jdbcType="VARCHAR" column="Unit" />
        <result property="valueType" jdbcType="VARCHAR" column="ValueType" />
        <result property="valueLength" jdbcType="INTEGER" column="ValueLength"/>
        <result property="valueMin" jdbcType="VARCHAR" column="ValueMin" />
        <result property="valueMax" jdbcType="VARCHAR" column="ValueMax" />
        <result property="valueMapper" jdbcType="VARCHAR" column="ValueMapper" />
        <result property="remark" jdbcType="VARCHAR" column="Remark" />
    </resultMap>
    
    <sql id="Base_Column_List">
        ID,
        Identifier,
        ParamName,
        ParamCategory,
        ParamAttribute,
        Unit,
        ValueType,
        ValueLength,
        ValueMin,
        ValueMax,
        ValueMapper,
        Remark
    </sql>
    
    <sql id="Simple_Column_List">
        Identifier,
        ValueType,
        ValueLength,
        ParamAttribute,
        ValueMapper
    </sql>
    
    <select id="load" parameterType="Integer" resultMap="parameterResult">
        SELECT 
            <include refid="Base_Column_List" />
        FROM parameter 
        WHERE 
            ID = #{id} 
    </select>
    
    <!-- 查询所有的ID -->
    <select id="findAllIds" resultType="Integer">
        SELECT ID FROM parameter
    </select>
    <!-- 查询所有参数identifier -->
    <select id="queryAllIdentifiers" resultType="java.lang.String">
        SELECT Identifier FROM parameter order by Identifier
    </select>
    
    <select id="countAll" resultType="Integer">
        SELECT count(ID) FROM parameter    
    </select>
    
    <select id="findAll" resultMap="parameterResult">
        SELECT 
            <include refid="Base_Column_List" />
        FROM parameter
    </select>
    
    <select id="queryAll" resultMap="parameterResult">
        SELECT ID, Name, Identifier FROM parameter
    </select>
    
    <select id="findByIdentifiers" parameterType="java.util.List" resultMap="parameterResult">
        SELECT 
            <include refid="Simple_Column_List" /> 
        FROM parameter
        WHERE identifier in
        <foreach collection="list" item = "item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    
    <select id="findByIdentifier" parameterType="java.lang.String" resultMap="parameterResult">
        select 
            <include refid="Base_Column_List" />
        from parameter 
        where 
            Identifier = #{identifier}
    </select>
    
    <!-- 判断参数ID是否存在 -->
    <select id="isUniqueIdentifier" parameterType="map" resultType="Integer">
        select count(0) as c
        from parameter 
        where ID != #{id} and Identifier = #{identifier}
    </select>
    
    <!-- 插入 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO parameter (
            Identifier,
            ParamName,
            ParamCategory,
            ParamAttribute,
            Unit,
            ValueType,
            ValueLength,
            ValueMin,
            ValueMax,
            ValueMapper,
            Remark
        ) VALUES (
            #{identifier},
            #{paramName},
            #{paramCategory},
            #{paramAttribute},
            #{unit},
            #{valueType},
            #{valueLength},
            #{valueMin},
            #{valueMax},
            #{valueMapper},
            #{remark}
        )
    </insert>
    
    <!-- 批量插入 -->
    <insert id="addBatch" parameterType="java.util.List">
        insert into parameter(
            Identifier,
            ParamName,
            ParamCategory,
            ParamAttribute,
            Unit,
            ValueType,
            ValueLength,
            ValueMin,
            ValueMax,
            ValueMapper,
            Remark
        )
        values  
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.identifier}, 
            #{item.paramName}, 
            #{item.paramCategory}, 
            #{item.paramAttribute}, 
            #{item.unit}, 
            #{item.valueType}, 
            #{item.valueLength}, 
            #{item.valueMin}, 
            #{item.valueMax},
            #{item.valueMapper},
            #{item.remark})
        </foreach>  
    </insert>
    
    <!-- 更新 -->
    <update id="updateSelective" parameterType="Parameter">
        UPDATE parameter 
        <set>
            <if test="identifier!=null">
            Identifier = #{identifier},
            </if>
            <if test="paramName!=null">
            ParamName = #{paramName},
            </if>
            <if test="paramCategory!=null">
            ParamCategory = #{paramCategory},
            </if>
            <if test="paramAttribute!=null">
            ParamAttribute = #{paramAttribute},
            </if>
            <if test="unit!=null">
            Unit = #{unit},
            </if>
            <if test="valueType!=null">
            ValueType = #{valueType},
            </if>
            <if test="valueLength!=null">
            ValueLength = #{valueLength},
            </if>
            <if test="valueMin!=null">
            ValueMin = #{valueMin},
            </if>
            <if test="valueMax!=null">
            ValueMax = #{valueMax},
            </if>
            <if test="valueMapper!=null">
            ValueMapper = #{valueMapper},
            </if>
            <if test="remark!=null">
            Remark= #{remark}
            </if>
        </set>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="id!=null">
                    and ID = #{id}
                </when>
                <otherwise>
                    <if test="identifier!=null">
                        and Identifier = #{identifier}
                    </if>
                </otherwise>
            </choose>
        </trim>
    </update>
    
    <update id="update" parameterType="Parameter">
        UPDATE parameter SET
            Identifier = #{identifier},
            ParamName = #{paramName},
            ParamCategory = #{paramCategory},
            ParamAttribute = #{paramAttribute},
            Unit = #{unit},
            ValueType = #{valueType},
            ValueLength = #{valueLength},
            ValueMin = #{valueMin},
            ValueMax = #{valueMax},
            ValueMapper = #{valueMapper},
            Remark= #{remark} 
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="id!=null">
                    and ID = #{id}
                </when>
                <otherwise>
                    <if test="identifier!=null">
                        and Identifier = #{identifier}
                    </if>
                </otherwise>
            </choose>
          </trim>
    </update>
    
    <update id="updateBatch" parameterType="java.util.List">
        <foreach item="item" collection="list" index="index" open="" close="" separator=";">
            UPDATE parameter SET
                Identifier = #{item.identifier},
                ParamName = #{item.paramName},
                ParamCategory = #{item.paramCategory},
                ParamAttribute = #{item.paramAttribute},
                Unit = #{item.unit},
                ValueType = #{item.valueType},
                ValueLength = #{item.valueLength},
                ValueMin = #{item.valueMin},
                ValueMax = #{item.valueMax},
                ValueMapper = #{item.valueMapper},
                Remark= #{item.remark} 
            <trim prefix="WHERE" prefixOverrides="AND|OR">
                <choose>
                    <when test="item.id!=null">
                        and ID = #{item.id}
                    </when>
                    <otherwise>
                        <if test="item.identifier!=null">
                            and Identifier = #{item.identifier}
                        </if>
                    </otherwise>
                </choose>
              </trim>
          </foreach>
    </update>
    
    <!-- 按Id删除 -->
    <delete id="delete" parameterType="Integer">
        DELETE FROM parameter WHERE
        ID = #{id} 
    </delete>
    
    <!-- 批量删除 -->
    <delete id="deleteBatch" parameterType="java.util.List">
        DELETE FROM parameter WHERE
        ID in
        <foreach collection="list" item = "item" open="(" separator="," close=")">
        #{item}  
        </foreach>
    </delete>
    
    <!-- 指定页查询 -->
    <select id="findPageBreakByCondition" resultMap="parameterResult" parameterType="map">
        SELECT 
            <include refid="Base_Column_List" />
        from parameter 
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="keywords != null">
                AND (
                    Identifier LIKE "%"#{keywords}"%"
                    or ParamName LIKE "%"#{keywords}"%"
                )
            </if>
        </trim>
        <choose>
            <when test="orderField !=null and orderField !=''">
                 ORDER BY ${orderField} <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
            </when>
            <otherwise>
                 order by ID DESC
            </otherwise>
        </choose>
           
    </select>
    <!-- 指定页查询总条数 -->
    <select id="findNumberByCondition" resultType="Integer" parameterType="map">
        select count(0) as c from parameter
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="keywords != null">
                AND (
                    Identifier LIKE "%"#{keywords}"%"
                    or ParamName LIKE "%"#{keywords}"%"
                )
            </if>
        </trim>
    </select>
</mapper>

