<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.irongteng.persistence.mapper.ResidentAnalysisMapper">
    
    <cache />
    
    <!-- 常住人口分析 -->
    <resultMap type="ResidentAnalysis" id="residentAnalysisResult">
        <id property="id" jdbcType="BIGINT" column="ResidentAnalysisID" />
        <result property="type" jdbcType="INTEGER" column="Type" />
        <result property="content" jdbcType="VARCHAR" column="Content" />
        <result property="siteID" jdbcType="INTEGER" column="SiteID" />
        <result property="siteName" jdbcType="VARCHAR" column="SiteName" />
        <result property="deviceID" jdbcType="INTEGER" column="DeviceID" />
        <result property="deviceName" jdbcType="VARCHAR" column="DeviceName" />
        <result property="monitorID" jdbcType="INTEGER" column="MonitorID"/>
        <result property="monitorName" jdbcType="VARCHAR" column="MonitorName" />
        <result property="startTime" jdbcType="TIMESTAMP" column="StartTime" />
        <result property="endTime" jdbcType="TIMESTAMP" column="EndTime" />
        <result property="count" jdbcType="INTEGER" column="RecordCount" />
    </resultMap>
    
    <sql id="Base_Column_List">
        (@rowNO := @rowNo+1) as ID, SiteID, SiteName, Type, Content, StartTime, EndTime, RecordCount
    </sql>
    
    <sql id="Hotpoint_Column_List">
        v.ID, d.SiteID, s.SiteName, 1 as Type, concat("IMSI:",ifnull(v.User_IMSI,'NULL')," IMEI:",ifnull(v.User_IMEI,'NULL')) as Content, min(v.RecordTime) as StartTime, max(v.RecordTime) as EndTime, count(v.User_IMSI) as RecordCount
    </sql>
    
    <sql id="WIFI_Column_List">
        v.ID, d.SiteID, s.SiteName, 2 as Type, concat("MAC:" , ifnull(v.User_MAC,'NULL')) as Content, min(v.StartTime) as StartTime, max(v.StartTime) as EndTime, count(v.User_MAC) as RecordCount
    </sql>
    
    <select id="findPageBreakByCondition" parameterType="map" resultMap="residentAnalysisResult">
        select 
            <include refid="Base_Column_List" />
        from (
            select 
                <include refid="Hotpoint_Column_List" />
            from hpl_log v 
                inner join device d on d.ID=v.DeviceID 
                inner join t_site s on s.ID=d.SiteID
            <trim prefix="WHERE" prefixOverrides="AND|OR">
                <if test="status != null">
                    AND s.ID in (#{status})
                </if>
                <if test="deviceID != null">
                    AND d.ID in (#{deviceID})
                </if>
                <if test="siteID != null">
                    AND s.ID in (#{siteID})
                </if>
                <if test="startDate != null">
                    AND v.RecordTime &gt;= #{startDate} 
                </if>
                <if test="endDate != null">
                    AND v.RecordTime &lt;= #{endDate} 
                </if>
                <if test="keywords != null">
                    AND (v.User_IMSI LIKE "%"#{keywords}"%"
                        OR v.User_IMEI LIKE "%"#{keywords}"%"
                    )
                </if>
            </trim>
            group by d.SiteID, v.User_IMSI
            
            <if test="type == null or (type!=null and type == 1)">
                union all
                select 
                    <include refid="WIFI_Column_List" />
                from visit_log v 
                    inner join device d on d.ID=v.DeviceID 
                    inner join t_site s on s.ID=d.SiteID
                <trim prefix="WHERE" prefixOverrides="AND|OR">
                    <if test="status != null">
                        AND s.ID in (#{status})
                    </if>
                    <if test="deviceID != null">
                        AND d.ID in (#{deviceID})
                    </if>
                    <if test="siteID != null">
                        AND s.ID in (#{siteID})
                    </if>
                    <if test="startDate != null">
                        AND v.StartTime &gt;= #{startDate} 
                    </if>
                    <if test="endDate != null">
                        AND v.StartTime &lt;= #{endDate} 
                    </if>
                    <if test="keywords != null">
                        AND v.User_MAC LIKE "%"#{keywords}"%"
                    </if>
                </trim>
                group by d.SiteID, User_MAC
            </if>
        ) c, (select @rowNO :=0) b 
        <choose>
            <when test="orderField !=null and orderField !=''">
                ORDER BY ${orderField} <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
            </when>
            <otherwise>
                order by c.SiteID, c.RecordCount desc
            </otherwise>
        </choose>
    </select>
    
    <select id="findNumberByCondition" resultType="Integer" parameterType="map">
        select count(0) as c from (
            select count(0) as c from hpl_log v 
                inner join device d on d.ID=v.DeviceID 
                inner join t_site s on s.ID=d.SiteID
            <trim prefix="WHERE" prefixOverrides="AND|OR">
                <if test="status != null">
                    AND s.ID in (#{status})
                </if>
                <if test="deviceID != null">
                    AND d.ID in (#{deviceID})
                </if>
                <if test="siteID != null">
                    AND s.ID in (#{siteID})
                </if>
                <if test="startDate != null">
                    AND v.RecordTime &gt;= #{startDate} 
                </if>
                <if test="endDate != null">
                    AND v.RecordTime &lt;= #{endDate} 
                </if>
                <if test="keywords != null">
                    AND (v.User_IMSI LIKE "%"#{keywords}"%"
                        OR v.User_IMEI LIKE "%"#{keywords}"%"
                    )
                </if>
            </trim>
            group by d.SiteID, v.User_IMSI
            <if test="type == null or (type!=null and type == 1)">
                union all
                select count(0) as c from visit_log v 
                    inner join device d on d.ID=v.DeviceID 
                    inner join t_site s on s.ID=d.SiteID
                <trim prefix="WHERE" prefixOverrides="AND|OR">
                    <if test="status != null">
                        AND s.ID in (#{status})
                    </if>
                    <if test="deviceID != null">
                        AND d.ID in (#{deviceID})
                    </if>
                    <if test="siteID != null">
                        AND s.ID in (#{siteID})
                    </if>
                    <if test="startDate != null">
                        AND v.StartTime &gt;= #{startDate} 
                    </if>
                    <if test="endDate != null">
                        AND v.StartTime &lt;= #{endDate} 
                    </if>
                    <if test="keywords != null">
                        AND v.User_MAC LIKE "%"#{keywords}"%"
                    </if>
                </trim>
                group by d.SiteID, User_MAC
            </if>
        ) a
    </select>
    
</mapper>