<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.irongteng.persistence.mapper.SiteAnalysisMapper">
    
    <cache />
    
    <resultMap id="siteAnalysisResult" type="SiteAnalysis">
        <id property="id" jdbcType="INTEGER" column="SiteID" />
        <result property="siteName" jdbcType="VARCHAR" column="SiteName" />
        <result property="intradayTotal" jdbcType="INTEGER" column="IntradayTotal" />
        <result property="yestodayTotal" jdbcType="INTEGER" column="YestodayTotal" />
        <result property="monthTotal" jdbcType="INTEGER" column="MonthTotal" />
        <result property="total" jdbcType="INTEGER" column="Total" />
    </resultMap>
    
    <sql id="Common_Column_List">
        s.SiteName, d.SiteID, ifnull(a.IntradayTotal,0) as IntradayTotal, ifnull(a.YestodayTotal,0) as YestodayTotal, ifnull(a.MonthTotal, 0) as MonthTotal, ifnull(sum(a.Total), 0) as Total 
    </sql>
    <sql id="Intraday_Column_List">
        DeviceID, count(0) as IntradayTotal, 0 as YestodayTotal, 0 as MonthTotal, 0 as Total
    </sql>
    <sql id="Yestoday_Column_List">
        DeviceID, 0 as IntradayTotal, count(0) as YestodayTotal, 0 as MonthTotal, 0 as Total
    </sql>
    <sql id="Month_Column_List">
        DeviceID, 0 as IntradayTotal, 0 as YestodayTotal, count(0) as MonthTotal, 0 as Total
    </sql>
    <sql id="Total_Column_List">
        DeviceID, 0 as IntradayTotal, 0 as YestodayTotal, 0 as MonthTotal, count(0) as Total
    </sql>
    
    <!-- 站点分析分页表查询 -->
    <select id="findPageBreakByCondition" parameterType="map" resultMap="siteAnalysisResult">
        select 
            <include refid="Common_Column_List" />
        from t_site s 
        left join device d on s.ID=d.SiteID 
        inner join (
            select 
                <include refid="Total_Column_List" />
            from hpl_log
            <trim prefix="WHERE" prefixOverrides="AND|OR">
                <if test="deviceID != null">
                    AND DeviceID in (#{deviceID}) 
                </if>
                <if test="siteID != null or (type!=null and type != 1)">
                    AND DeviceID in (
                        select ID 
                        from device d 
                        <trim prefix="WHERE" prefixOverrides="AND|OR">
                            <choose>
                                <when  test="deviceID != null">
                                    AND d.ID in (#{deviceID}) 
                                </when>
                                <when test="type!=null and type != 1">
                                    and d.CategoryID=1
                                </when>
                            </choose>
                        </trim>
                    )
                </if>
            </trim>
            group by DeviceID

            union all
            select 
                <include refid="Intraday_Column_List" />
            from hpl_log
            where to_days(RecordTime) = to_days(now())
            <if test="deviceID != null">
                AND DeviceID in (#{deviceID}) 
            </if>
            group by DeviceID

            union all
            select 
                <include refid="Yestoday_Column_List" />
            from hpl_log
            where TO_DAYS(NOW( )) - TO_DAYS(RecordTime) = 1 
            <if test="deviceID != null">
                AND DeviceID in (#{deviceID}) 
            </if>
            group by DeviceID

            union all
            select 
                <include refid="Month_Column_List" />
            from hpl_log
            where DATE_FORMAT(RecordTime, '%Y%m') = DATE_FORMAT(CURDATE(), '%Y%m')
            <if test="deviceID != null">
                AND DeviceID in (#{deviceID}) 
            </if>
            group by DeviceID

            <if test="type == null or (type!=null and type == 1)">
                union all
                select 
                    <include refid="Total_Column_List" />
                from visit_log
                <trim prefix="WHERE" prefixOverrides="AND|OR">
                    <if test="deviceID != null">
                        AND DeviceID in (#{deviceID}) 
                    </if>
                </trim>
                group by DeviceID
                
                union all
                select 
                    <include refid="Intraday_Column_List" />
                from visit_log
                where to_days(StartTime) = to_days(now())
                <if test="deviceID != null">
                    AND DeviceID in (#{deviceID}) 
                </if>
                group by DeviceID
                
                union all
                select 
                    <include refid="Yestoday_Column_List" />
                from visit_log
                where TO_DAYS(NOW()) - TO_DAYS(StartTime) = 1 
                <if test="deviceID != null">
                    AND DeviceID in (#{deviceID}) 
                </if>
                group by DeviceID
                
                union all
                select 
                    <include refid="Month_Column_List" />
                from visit_log
                where DATE_FORMAT(StartTime, '%Y%m') = DATE_FORMAT(CURDATE(), '%Y%m')
                <if test="deviceID != null">
                    AND DeviceID in (#{deviceID}) 
                </if>
                group by DeviceID
            </if>
        ) a on d.ID = a.DeviceID
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="siteID != null">
                AND s.ID in (#{siteID}) 
            </if>
            <choose>
                <when  test="deviceID != null">
                    AND d.ID in (#{deviceID}) 
                </when>
                <when test="type!=null and type != 1">
                    and d.CategoryID=1
                </when>
            </choose>
            <if test="keywords != null">
                AND (s.SiteName LIKE "%"#{keywords}"%"
                    OR d.DeviceName LIKE "%"#{keywords}"%"
                )
            </if>
        </trim>
        group by SiteID
        <choose>
            <when test="orderField !=null and orderField !=''">
                 ORDER BY ${orderField} <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
            </when>
            <otherwise>
                 order by IntradayTotal desc
            </otherwise>
        </choose>
        
    </select>
    
    <!-- 查询符合条件总条数 -->
    <select id="findNumberByCondition" resultType="Integer" parameterType="map">
        select count(0) as c
        from t_site s
            left join device d on s.ID = d.SiteID
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="siteID != null">
                AND s.ID in (#{siteID}) 
            </if>
            <choose>
                <when  test="deviceID != null">
                    AND d.ID in (#{deviceID}) 
                </when>
                <when test="type!=null and type != 1">
                    and d.CategoryID=1
                </when>
            </choose>
            <if test="keywords != null">
                AND (s.SiteName LIKE "%"#{keywords}"%"
                    OR d.DeviceName LIKE "%"#{keywords}"%"
                )
            </if>
        </trim>
    </select>
    
</mapper>