<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.irongteng.persistence.mapper.UserLoggerMapper">
    
    <cache />
    <resultMap id="userResult" type="User">
        <result property="id" jdbcType="INTEGER" column="UserID"/>
        <result property="username" jdbcType="VARCHAR" column="Username"/>
        <result property="role" jdbcType="VARCHAR" column="Role"/>
    </resultMap>
    
    <resultMap id="userLoggerResult" type="UserLogger">
        <result property="id" jdbcType="INTEGER" column="ID"/>
        <result property="loginIPorPort" jdbcType="VARCHAR" column="LoginIPorPort"/>
        <result property="loginHostName" jdbcType="VARCHAR" column="LoginHostName"/>
        <result property="loginTime" jdbcType="TIMESTAMP" column="LoginTime"/>
        <result property="exitTime" jdbcType="TIMESTAMP" column="ExitTime"/>
        <result property="loginStatus" jdbcType="INTEGER" column="LoginStatus"/>
        
        <association property="user" javaType="User" column="UserID" resultMap="userResult" />
    </resultMap>
    
    <sql id="Base_Column_List">
        ul.ID,
        ul.UserID,
        u.Username,
        ul.LoginIPorPort,
        ul.LoginHostName,
        ul.LoginTime,
        ul.ExitTime,
        ul.LoginStatus
    </sql>
    
    <select id="load" parameterType="Integer" resultMap="userLoggerResult">
        SELECT 
            <include refid="Base_Column_List" />
        FROM t_user_log ul
            inner join user u on ul.UserID=u.ID
        WHERE 
            ul.ID = #{id}
    </select>
    
    <!-- 查询所有的ID -->
    <select id="findAllIds" resultType="Integer">
        SELECT ID FROM t_user_log
    </select>
    
    <!-- 按Id删除 -->
    <delete id="delete" parameterType="Integer">
        DELETE FROM t_user_log WHERE
        ID = #{id} 
    </delete>
    
     <!-- 插入 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user_log (
            UserID,
            LoginIPorPort,
            LoginHostName,
            LoginTime,
            ExitTime,
            LoginStatus
        ) VALUES (
            #{user.id},
            #{loginIPorPort},
            #{loginHostName},
            #{loginTime},
            #{exitTime},
            #{loginStatus}
        )
    </insert>
    
    <select id="countAll" resultType="Integer">
        SELECT count(0) FROM t_user_log    
    </select>
    
    <select id="findAll" resultMap="userResult">
        SELECT 
            <include refid="Base_Column_List" />
        FROM t_user_log ul
            inner join user u on ul.UserID=u.ID
    </select>
    
    <!-- 更新 -->
    <update id="update" parameterType="UserLogger">
        UPDATE t_user_log SET
            UserID = #{user.id},
            LoginIPorPort = #{loginIPorPort},
            LoginHostName = #{loginHostName},
            LoginTime = #{loginTime},
            ExitTime = #{exitTime},
            LoginStatus = #{loginStatus}
        WHERE 
            ID = #{id} 
    </update>
    
    <!-- 选择更新 -->
    <update id="updateSelective" parameterType="UserLogger">
        UPDATE t_user_log 
        <set>
            <if test="user!=null and user.id != null">
            UserId = #{user.id},
            </if>
            <if test="loginIPorPort != null">
            LoginIPorPort = #{loginIPorPort},
            </if>
            <if test="loginHostName != null">
            LoginHostName = #{loginHostName},
            </if>
            <if test="loginTime != null">
            LoginTime = #{loginTime},
            </if>
            <if test="exitTime != null">
            ExitTime = #{exitTime},
            </if>
            <if test="loginStatus != null">
            LoginStatus = #{loginStatus},
            </if>
        </set>
        WHERE 
            ID = #{id}
    </update>
    
    <update id="updateStatus" parameterType="UserLogger">
        UPDATE t_user_log SET
            LoginStatus = #{loginStatus},
            ExitTime = #{exitTime}
        WHERE 
            ID = #{id}
    </update>
    
    <select id="findPageBreakByCondition" resultMap="userLoggerResult" parameterType="map">
        SELECT 
            <include refid="Base_Column_List" />
        FROM t_user_log ul
            inner join user u on ul.UserID=u.ID
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            
            <if test="userID != null">
                 AND ul.UserID=#{userID}  
            </if>
            <if test="status != null">
                 AND ul.LoginStatus=#{status}  
            </if>
            <if test="startDate != null">
                AND ul.LoginTime &gt;= #{startDate} 
            </if>
            <if test="endDate != null">
                AND ul.LoginTime &lt;= #{endDate} 
            </if>
            <if test="keywords != null">
                AND (
                    ul.LoginHostName LIKE "%"#{keywords}"%"
                        OR ul.LoginIPorPort LIKE "%"#{keywords}"%"
                        OR u.Username=#{keywords}
                )
              </if>
        </trim>
        
        <choose>
            <when test="orderField !=null and orderField !=''">
                 ORDER BY ${orderField} <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
            </when>
            <otherwise>
                ORDER BY ul.ID DESC
            </otherwise>
        </choose>
        
    </select>
    
    <select id="findNumberByCondition" resultType="Integer" parameterType="map">
        select count(0) as c from t_user_log ul
            inner join user u on ul.UserID=u.ID
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            
            <if test="userID != null">
                 AND ul.UserID=#{userID}  
            </if>
            <if test="status != null">
                 AND ul.LoginStatus=#{status}  
            </if>
            <if test="startDate != null">
                AND ul.LoginTime &gt;= #{startDate} 
            </if>
            <if test="endDate != null">
                AND ul.LoginTime &lt;= #{endDate} 
            </if>
            <if test="keywords != null">
                AND (
                    ul.LoginHostName LIKE "%"#{keywords}"%"
                        OR ul.LoginIPorPort LIKE "%"#{keywords}"%"
                        OR u.username=#{keywords}
                )
              </if>
        </trim>
    </select>
    
</mapper>